
.game-wrapper {
  display: flex;
  justify-content: flex-start;
  background-image: url('../sprites/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stat-wrapper{
  flex-basis: 25%;
}

.clicker-wrapper {
  flex-basis: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: 700;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: black;
}