.monster {
    margin-top: 20px;
}
  
.health-bar {
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
  
.health-bar-inner {
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.3s;
    position: relative;
}

.health-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px; /* Adjust the width as needed */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

.mushroom_boss{
    width: 600px;
    transition: transform 0.1s;
}

.mushroom_boss:active {
    transform: scale(0.95);
  }

  .mushroom_boss:focus {
    outline: none;
}


.game {
    margin-top: 30px;
  }

.game h2 {
    color: #333;
}

.game p {
font-size: 18px;
}
